#header {
  background-color: rgb(255, 255, 255);

  overflow: hidden;
 
  padding: 5px 5px;
}
#header a {
  float: left;
  color: #000000;
  text-align: center;
  padding: 12px;
  text-decoration: none;
  font-size: 18px; 
  line-height: 25px;
  border-radius: 4px;
}
#header a.active {
  background-color: dodgerblue;
  color: white;
}
.header-right {
  float: right;
}
.sticky {
  top: 0;
  width: 100%;
  position: sticky;
}
.sticky + .content {
  padding-top: auto;
}
  #DotHacker{
    width: 10%;
    height: auto;
    background-color:auto;
    padding-left:1px;
    padding-right:1px;
    margin-left: 1px;
    margin-right: 12px;
  }
 #cyber-security{
        width: 45%;
        margin-left: auto;
        margin-right: auto;
        display: block;
        
 }

 #ETHICAL-HACKING{
        width: 45%;
       margin-left: auto;
      margin-right: auto;
      display: block;
 }
 .kalilinux{
        background-color: rgb(255, 255, 255);
        font-size: 1.3em;   
 }
 body{
  background-color: #ffffff;
  margin-left: auto;
  margin-right: auto;
  display: block;
  
 }
 .dot{
  background-color: rgb(255, 255, 255);
  color: rgb(0, 0, 0);
 }

#top10tools{
  width: auto;
  margin-left: auto;
  margin-right: auto;
  display: block; 
  font-weight: bolder;
  font-size: 2em;
 color: #000000;
 text-align: center;
 background-color: rgb(0, 68, 255);
}

